.stream_container {
    display: flex;
    flex-flow: row wrap;
}

.stream_item {
    width: 320px;
    margin: 10px;
}

.stream_item div {
    margin: 2px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    font: 12px Helvetica,Arial,sans-serif;
}
