.stream_item {
    width: 320px;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}

.stream_item div {
    margin: 2px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    font: 12px Helvetica,Arial,sans-serif;
}
